.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LinkAdd {
    background-color: #0a88ff;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
}
.LinkAdd:hover {
    background-color: #066bcb;
    text-decoration: none;
    color: white;
}

.DishesList {
    display: flex;
    margin: 10px;
    border: 1px solid grey;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    align-items: center;
}

.button1 {
    background: none;
    border: none;
}
