.AddPost {
    margin: 20px;
}
.Form {
    width: 500px;
}
.Input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Input:focus {
    outline: none;
    background-color: #ccc;
}
