.OrdersList {
    border: 1px solid grey;
    margin: 10px 0;
}
.Order {
    display: flex;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    align-items: center;
}
.buttonDelete{
    margin: 10px;
}
.totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
