.Container {
    display: flex;
}

h2 {
    padding: 10px;
    margin: 5px;
}
.Block {
    width: auto;
    margin: 10px;
    height: auto;
}
.OrderBlock {
    width: 300px;
}

.MenuBlock {
    width: 600px;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
}
p {
    padding: 10px;
}